.conjunto_botoes {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;
}

.botao_azul {
    width: 170px;
    height: 170px;
    background-color: #3969c5;
    color: #ffffff;
    border: none;
    border-radius: 38.592px;
    box-shadow: 0px 5.146px 5.146px 0px rgba(0, 0, 0, 0.25), 0px 5.146px 5.146px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.botao_azul:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.botao_azul p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .botao_azul {
        width: 160px;
        height: 160px;
        border-radius: 28.592px;
    }

    .botao_azul p {
        font-size: 15px;
    }
}
