.background {
    background-image: url('../../assets/BomJesus.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 5.146px 5.146px 0px rgba(0, 0, 0, 0.25), 0px 5.146px 5.146px 0px rgba(0, 0, 0, 0.25);
    padding: 60px 100px;
    gap: 24px;
    max-width: 80%;
    font-family: "Open Sans", sans-serif;
}

.card h2 {
    color: #000;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card span {
    color: #000;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    margin-right: auto;
    padding: 5px;
}

.card label {
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-right: auto;

}

.card label input {
    width: 300px;
    height: 40px;
    border: 2px solid #4f4e4e;
    border-radius: 10px;
    background: transparent;
}

.btn {
    border-radius: 10px;
    background: #29699d ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 45px;
    padding: 5px;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    border: none;
}

.btn:hover {
    background-color: #1b4f7a;
    cursor: pointer;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.link {
    color: #29699d;
    
    
}

.logo {
    margin: 20px 20px;
}

@media (max-width: 768px) {
    .card {
        padding: 40px 30px;
    }
}