.btn {
    border-radius: 10px;
    background: #29699d ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 45px;
    padding: 5px;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    border: none;
    margin-top: 10px;
}

.btn:hover {
    background-color: #1b4f7a;
    cursor: pointer;
}
.rain-text {
    color: blue;
  }
  
  .drizzle-text {
    color: gray;
  }
  
  .normal-text {
    color: black;
  }