.CardContatos {
    font-family: "Open Sans", sans-serif;
    background-color: #3969C5;
    width: auto;
    height: 100px;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px solid black;
}

.CardContatos p {
    color: white;
    padding: 10px;
    margin: auto;
    font-weight: bold;
}
.CardContatos h3 {
    color: white;
    padding: 10px;
    margin: auto;
    font-weight: bold;
}