
  .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px 0px #00000040;
  
  }

  /* Estilos para o menu de perfil */
  .profileMenu {
    position: relative;
  }
  
  /* Estilos para o botão do perfil */
  .profileButton {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos para o avatar do perfil */
  .profileAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  /* Estilos para o nome do perfil */
  
  /* Estilos para o dropdown do perfil */
  .profileDropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  /* Estilos para as opções do perfil */
  .profileOptions {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilos para cada opção do perfil */
  .profileOption {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #29699D;
    font-weight: bolder;
    font-family: "Open Sans", sans-serif;
  }
  
  /* Estilos para o hover das opções do perfil */
  .profileOption:hover {
    background-color: #f0f0f0;
  }


  