body {
  margin: 0;
  font-family: "Opens Sans", sans-serif;
  /* background-color: #d4d6de; */
}

code {
  font-family: "Opens Sans", sans-serif;
}

.error {
  background-color: #ffcccc;
  border:#ffcccc solid 2px;
  border-radius: 10px;
  color: #ff0000;
  padding: 10px;
  margin-top: 10px;
}

.error-message {
  background-color: #ffcccc;
  color: #ff0000;
  padding: 10px;
  margin-top: 10px;

}